<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../assets/css/BaseHomepage.css">
    <link rel="stylesheet" href="../assets/css/Homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--Hoang Mapping-->
      <!-- <link rel="stylesheet" href="./assets/css/Mapping.css"> -->
      <!-- <link rel="stylesheet" href="/Avatar/assets/css/main.css">
      <link rel="stylesheet" href="/Avatar/assets/css/base.css">
      <link rel="stylesheet" href="/Notification/Notification-form.css">
      <link rel="stylesheet" href="/EditProfile/assets/css/main.css">
      <link rel="stylesheet" href="/EditProfile/assets/css/base.css">
      <link rel="stylesheet" href="/ChangePassword/ChangePassword.css">
      <link rel="stylesheet" href="/MyProfile/MyProfile.css">
      <link rel="stylesheet" href="/ForgetPassword/ForgetPassword.css">
      <link rel="stylesheet" href="/test/Notification_message.css"> -->
      <link rel="stylesheet" href="../assets/css/Avatar.css">
      <link rel="stylesheet" href="../assets/css/base.css">
      <link rel="stylesheet" href="../assets/css/BaseHomepage.css">
      <link rel="stylesheet" href="../assets/css/ChangePassword.css">
      <link rel="stylesheet" href="../assets/css/CommentView.css">
      <link rel="stylesheet" href="../assets/css/Create Your Menu.css">
      <link rel="stylesheet" href="../assets/css/EditProfile.css">
      <link rel="stylesheet" href="../assets/css/Food_information_detail.css">
      <link rel="stylesheet" href="../assets/css/ForgetPassword.css">
      <link rel="stylesheet" href="../assets/css/Homepage.css">
      <link rel="stylesheet" href="../assets/css/Notification-form.css">
      <link rel="stylesheet" href="../assets/css/ResetPassword.css">
      <script src = "../assets/js/avatar.js"></script>
      <script src = "../assets/js/ChangePassword.js"></script>
      <script src = "../assets/js/CommentView.js"></script>
      <script src = "../assets/js/EditProfile.js"></script>
      <script src = "../assets/js/MyProfile.js"></script>
      <script src = "../assets/js/Notification-form.js"></script>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.4.js"
      integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
      crossorigin="anonymous"></script>
      

</head>
<body>
  
    <div class="pbl3_web">
      
        <!-- Header -->
        
        <footer id="footer">
          <div class="container">
            <div class="row">
              <div class="footer_info col">
                <div class="product_name">
                  <h3>Food <span style="color: #0a89ff">Care</span></h3>
                </div>
                <p>Good food, Good health</p>
                <p class="introduction">This is our PBL 3 product. We are students of Bach Khoa Da Nang College. We hope this product can provide you more knowledge about food. As our slogan “Good food, Good health.</p>
              </div>
              <div class="footer_info col">
                <div class="row">
                  <div class="phone_number col">
                    <h3>Phone</h3>
                    <p>0934792245</p>
                  </div>
                  <div class="community col">
                    <h3>Follow</h3>
                    <i class="fa-brands fa-facebook fa-2xl"></i>
                    <i class="fa-solid fa-envelope fa-2xl"></i>
                    <i class="fa-brands fa-github fa-2xl"></i>
                  </div>
                </div>
                <div class="address_info">
                  <h3>Address</h3>
                  <p>54 Nguyen Luong Bang street, 
                    Hoa Khanh Bac, Lien Chieu,
                    Da Nang</p>
                </div>
              </div>
            </div>
          </div>
        </footer>

      </div>
    
    