<!-- login or not login -->
<% if (!user) { %>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="header">


        <div class="container">
            <div class="g-col-3" style="width: 100px;">
                <a class="navbar-brand" href="/">
                    <img src="../assets/images/FooCA.png" alt="Logo" width="70" height="70"
                        class="d-inline-block align-text-center">
                </a>
            </div>
            <div class="g-col-7">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav" ;>
                    <li class="nav-item text-center"><a href="/">Home</a></li>
                    <li class="nav-item text-center"><a href="/#food_information">Food
                            Information</a></li>
                    <li class="nav-item text-center"><a href="/#bmi_calculator">BMI</a></li>
                    <li class="nav-item text-center"><a href="/#menu_nutrition">Menu Nutrition</a>
                    </li>
                    <li class="nav-item text-center"><a href="/#food_suggestion">Food
                            Suggestion</a></li>
                </ul>
            </div>
            <div class="g-col-2">

                <div class="header-user" style="position: relative;">
                    <button class="user-signUp js-click-register">
                        Sign Up
                        <i class="fa-solid fa-user-plus icon"></i>
                    </button>

                    <button class="user-login js-click-login">
                        Login
                        <i class="fa-solid fa-right-to-bracket icon"></i>
                    </button>
                    <form action="" id="forgetpw">
                        <div class="ForgetPassword" style="display: none;">
                            <a href="" class="ForgetPassword__xmark"><i
                                    class="fa-solid fa-xmark ForgetPassword__iconback"></i></a>
                            <h1 class="ForgetPassword__title">Forgot Password</h1>
                            <p class="ForgetPassword__text">No Problem! Enter your email or username below and we will
                                send you an
                                email with instruction to reset your password.</p>
                            <input type="text" class="ForgetPassword__input" placeholder="Email or Username">
                            <i class="fa-solid fa-check ForgetPassword__checkEmail"></i>
                            <button class="ForgetPassword__button">Send Reset Link</button>
                            <p class="ForgetPassword__text">Back to
                                <a href="" class="ForgetPassword__returnLogin">Login</a>
                            </p>
                        </div>
                    </form>
                </div>

            </div>
        </div>


    </nav>

    <div id="login_modal" class="user_modal js-user_modal">
        <div class="login_container js-login_container">
            <div class="close_btn js-modal-close">
                <i class="fa-regular fa-circle-xmark fa-xl"></i>
            </div>
            <header class="header_flogin">
                <h2>LOGIN</h2>
            </header>

            <body class="body_flogin">
                <form action="/" class="login_form" id="login-form" method="post">
                    <label for="username">Username</label>
                    <br>
                    <input placeholder="Your username is" type="text" name="username" id="username" required
                        minlength="8">
                    <label for="password">Password</label>
                    <br>
                    <input placeholder="Your password is" type="password" name="password" id="password" required
                        minlength="8">
                    <a href="#" class="forgot_pass"><span>Forgot password?</span></a>
                    <div class="login_fbtn">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
                <div class="login_way">
                    <p>Or login with</p>
                    <i class="fa-brands fa-facebook fa-2xl"></i>
                    <i class="fa-solid fa-envelope fa-2xl"></i>
                    <i class="fa-brands fa-github fa-2xl"></i>
                </div>
            </body>

            <footer class="footer_flogin">
                <p>Don't have an account?<button class="js-click-register form_direct">Sign up</button></p>
            </footer>
        </div>
    </div>

    <div id="signup_modal" class="signup_modal js-userregister_modal">
        <div class="signup_container js-register-container">
            <div class="close_btn js-modal-close">
                <i class="fa-regular fa-circle-xmark fa-xl"></i>
            </div>
            <header class="header_flogin">
                <h2>Sign Up</h2>
            </header>

            <body class="body_flogin">
                <form action="/signup" class="signup_form container" method="post" id="signup-form">
                    <div class="row justify-content-md-center">
                        <div class="col-6 lform enter_info">
                            <label for="username">Full name</label>
                            <br>
                            <input placeholder="Your fullname is" type="text" name="fullname" id="">
                            <label for="username">Email</label>
                            <br>
                            <input placeholder="Your email is" type="text" name="email" id="">
                            <label for="username">Username</label>
                            <br>
                            <input placeholder="Your username is" type="text" name="username" id="">
                            <label for="username">Password</label>
                            <br>
                            <input placeholder="Your password is" type="text" name="password" id="">
                        </div>
                        <div class="col-6 rform enter_info">
                            <label for="date">Birth</label>
                            <br>
                            <input type="date" id="" name="birth">
                            <div class="sex_box">
                                <label for="sex_box">Sex</label>
                                <br>
                                <input type="radio" name="male" id="male">
                                <label for="male">Male</label><br>
                                <input type="radio" name="female" id="female">
                                <label for="male">Female</label>
                            </div>
                            <label class="pass_again" for="username">Password again</label>
                            <br>
                            <input placeholder="Enter password again" type="text" name="password-again" id="">
                        </div>
                    </div>
                    <div class="signup_fbtn">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </form>
                <div class="signup_way">
                    <p>Or sign up with</p>
                    <i class="fa-brands fa-facebook fa-2xl"></i>
                    <i class="fa-solid fa-envelope fa-2xl"></i>
                    <i class="fa-brands fa-github fa-2xl"></i>

                    <div class="footer_signup">
                        <p>Already have an account? <button class="js-click-login form_direct">Login</button></p>
                    </div>
                </div>
            </body>
        </div>
    </div>
    <% } else { %>

        <nav class="navbar navbar-expand-lg bg-body-tertiary" id="header">
            <div class="container">
                <div class="g-col-3" style="width: 100px;">
                    <a class="navbar-brand" href="/user">
                        <img src="../assets/images/FooCA.png" alt="Logo" width="70" height="70"
                            class="d-inline-block align-text-center">
                    </a>
                </div>
                <div class="g-col-7">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav" ;>
                        <li class="nav-item text-center"><a href="/user">Home</a></li>
                        <li class="nav-item text-center"><a href="/user#food_information">Food
                                Information</a></li>
                        <li class="nav-item text-center"><a href="/user#bmi_calculator">BMI</a>
                        </li>
                        <li class="nav-item text-center"><a href="/user#menu_nutrition">Menu
                                Nutrition</a></li>
                        <li class="nav-item text-center"><a href="/user#food_suggestion">Food
                                Suggestion</a></li>
                    </ul>

                </div>

                <div class="g-col-2" style="position: relative;">
                    <!-- Mapping -->
                    <div class="nofi_avatar">
                        <a href="" class="EditProfile__header-icon">
                            <i class="fa-regular fa-bell EditProfile__header--Nofi"></i>
                            <div class="notification_form">
                                <div class="notification_form-header">
                                    <h2 class="notification_form-header--title">Notification</h2>
                                    <a href="">
                                        <i class="fa-solid fa-bars notification_form-header--icon"></i>
                                    </a>
                                </div>

                            </div>
                        </a>
                        <a href="" class="EditProfile__header-avatar">
                            <div class="avatar-img">
                                <img src="<%= user.avatarImg %>" alt="">
                            </div>
                            <!-- Mapping -->
                            <div class="absolutee-container">
                                <div class="list-ava">
                                    <div class="list-ava__header">
                                        <a href="" class="list-ava__header-avatar">
                                            <div class="avatar-img">
                                                <img src="<%= user.avatarImg %>" alt="">
                                            </div>
                                        </a>
                                        <span class="list-ava__header--name"><%= user.username %></span>
                                    </div>
                                    <div class="line"></div>
                                    <div class="list-ava__body">
                                        <div class="list-ava__body-item">
                                            <i class="list-ava__body-item--icon fa-solid fa-user"></i>
                                            <a href="/user/profile"
                                                class="list-ava__body-item2 myProfile">My Profile</a>
                                        </div>
                                        <div class="list-ava__body-item">
                                            <i class="list-ava__body-item--icon fa-solid fa-gear"></i>
                                            <a href="" class="list-ava__body-item2 editProfile">Edit Profile</a>
                                        </div>
                                        <div class="list-ava__body-item">
                                            <i class="list-ava__body-item--icon fa-solid fa-burger"></i>
                                            <a href="/user/myMenu"
                                                class="list-ava__body-item2 myMenu">My menu</a>
                                        </div>
                                        <div class="list-ava__body-item">
                                            <i class="list-ava__body-item--icon fa-solid fa-shield-halved"></i>
                                            <a href="" class="list-ava__body-item2 changePassword">Change Password</a>
                                        </div>

                                        <div class="list-ava__body-item">
                                            <i class="list-ava__body-item--icon fa-solid fa-right-from-bracket"></i>
                                            <a href="/logout" class="list-ava__body-item2 logOut">Log
                                                out</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- EditProFile-form -->
                            <form action="/Home/putEditProfile/:id" id="form-EditProfile"
                                method="PUT">
                                <div class="EditProfile container">
                                    <div class="EditProfile__header">
                                        <ul class="EditProfile__header-list">
                                            <li class="EditProfile__header-item">
                                                <h2 class=EditProfile__header--text>Edit Profile</h2>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="EditProfile__container">
                                        <div class="EditProfile__form name">
                                            <div class="EditProfile__form-name">
                                                <span class="EditProfile__form-name label">Full Name</span>
                                                <input type="" class="EditProfile__form--input firstname"
                                                    placeholder="Họ và tên" name="fullname">
                                            </div>
                                        </div>
                                        <div class="EditProfile__form">
                                            <span class="EditProfile__form-email label">Email</span>
                                            <br>
                                            <input type="" class="EditProfile__form--input email"
                                                placeholder="Nhập email" name="email">
                                        </div>
                                        <div class="EditProfile__form">
                                            <span class="EditProfile__form-height label">Height</span>
                                            <br>
                                            <input type="" class="EditProfile__form--input height"
                                                placeholder="Nhập cân nặng mới" name="height">
                                        </div>
                                        <div class="EditProfile__form">
                                            <span class="EditProfile__form-weight label">Weight</span>
                                            <br>
                                            <input type="" class="EditProfile__form--input weight"
                                                placeholder="Nhập chiều cao mới" name="weight">
                                        </div>
                                        <div class="EditProfile__form">
                                            <span class="EditProfile__form-age label">Age</span>
                                            <br>
                                            <input type="" class="EditProfile__form--input age"
                                                placeholder="Nhập tuổi mới" name="age">
                                        </div>
                                        <div class="EditProfile__form">
                                            <span class="EditProfile__form-password label">Password</span>
                                            <br>
                                            <div class="EditProfile__form-password input" name="password">
                                                <input type="" class="EditProfile__form--input password"
                                                    placeholder="Mật khẩu">
                                                <input type="checkbox" class="EditProfile__form-password--checkbox">
                                            </div>
                                            <!-- <input type="" class="EditProfile__form--input password" placeholder="Mật khẩu">
                                <input type="checkbox" class = "EditProfile__form-password--checkbox"> -->


                                        </div>
                                    </div>
                                    <div class="EditProfile__Footer">
                                        <button class="btn btn-cancel" type="button">Cancel</button>
                                        <button class="btn btn-save" type="submit">Save</button>
                                    </div>
                                </div>
                            </form>


                            <!-- ChangePasswordForm -->
                            <form action="" class="changepw-form container">
                                <div class="ChangePassword">
                                    <div class="ChangePassword_header">
                                        <div>
                                            <a href="">
                                                <i class="fa-solid fa-arrow-left"
                                                    class="ChangePassword_header__icon"></i>
                                            </a>
                                            <a href="">
                                                <i class="fa-solid fa-xmark" class="ChangePassword_header__icon"></i>
                                            </a>
                                        </div>
                                        <span class="ChangePassword_header__name">Nguyễn Văn A</span>
                                        <h2 class="ChangePassword_header__title">Đổi mật khẩu</h2>

                                    </div>
                                    <div class="ChangePassword_body">
                                        <input type="text" class="ChangePassword_body__input"
                                            placeholder="Mật khẩu hiện tại">
                                        <input type="text" class="ChangePassword_body__input"
                                            placeholder="Mật khẩu mới">
                                        <input type="text" class="ChangePassword_body__input"
                                            placeholder="Nhập lại mật khẩu mới">
                                    </div>
                                    <div class="ChangePassword_footer">
                                        <button class="ChangePassword_footer__button">Đổi mật khẩu</button>
                                    </div>
                                </div>
                            </form>
                            <form action="" id="forgetpw">
                                <div class="ForgetPassword">
                                    <a href="" class="ForgetPassword__xmark"><i
                                            class="fa-solid fa-xmark ForgetPassword__iconback"></i></a>
                                    <h1 class="ForgetPassword__title">Forgot Password</h1>
                                    <p class="ForgetPassword__text">No Problem! Enter your email or username below and
                                        we will send you an email with instruction to reset your password.</p>
                                    <input type="text" class="ForgetPassword__input" placeholder="Email or Username">
                                    <i class="fa-solid fa-check ForgetPassword__checkEmail"></i>
                                    <button class="ForgetPassword__button">Send Reset Link</button>
                                    <p class="ForgetPassword__text">Back to
                                        <a href="" class="ForgetPassword__returnLogin">Login</a>
                                    </p>
                                </div>
                            </form>
                            <div class="notifications-message">

                            </div>
                        </a>
                    </div>
                    <!-- <div class="header-user">
                  <button class="signUp_button js-click-register">
                      Sign Up
                      <i class="fa-solid fa-user-plus icon"></i>
                  </button>
        
                  <button class="user-login js-click-login">
                    Login
                    <i class="fa-solid fa-right-to-bracket icon"></i>
                  </button>
                </div> -->
                </div>
            </div>

        </nav>

        <link rel="stylesheet" href="../assets/css/Avatar.css">
        <link rel="stylesheet" href="../assets/css/ChangePassword.css">
        <link rel="stylesheet" href="../assets/css/EditProfile.css">
        <link rel="stylesheet" href="../assets/css/ForgetPassword.css">
        <link rel="stylesheet" href="../assets/css/Notification-form.css">
        <link rel="stylesheet" href="../assets/css/ResetPassword.css">
        <script src="../assets/js/avatar.js"></script>

        <script>
            function LoadCss(url) {
                var link = document.createElement("link");
                link.type = "text/css";
                link.rel = "stylesheet";
                link.href = url;
                document.querySelector("head").appendChild(link);
            }
            function LoadScript(url) {
                var script = document.createElement('script');
                script.setAttribute('src', url);
                script.setAttribute('async', false);
                document.head.appendChild(script);
            }
            $(document).ready(function () {
                $(".EditProfile__header-icon").click(function (event) {
                    event.preventDefault();
                    $(".notification_form").slideToggle(250);
                    $("body").click(function () {
                        $(".notification_form").slideUp(250);
                    });
                    $("img").click(function () {
                        $(".notification_form").slideUp(250);
                    });
                    event.stopPropagation();
                });
                $(".EditProfile__header-avatar").click(function (event) {
                    event.preventDefault();
                    $(".list-ava").slideToggle();
                    $("body").click(function () {
                        $(".list-ava").slideUp(400);
                    });
                    $("i").click(function () {
                        $(".list-ava").slideUp(250);
                    });
                    event.stopPropagation();
                });
                $(".editProfile").on({
                    click: function (event) {
                        event.preventDefault();
                        $(".EditProfile").fadeIn();
                        $(".list-ava").slideUp(250);
                        $("#container_w100").css("opacity", "0.5");
                        $("#content").css("opacity", "0.5");
                        event.stopPropagation();
                    }
                });
                $(".EditProfile__Footer .btn-cancel").click(function () {
                    $(".EditProfile").fadeOut();
                    $("#container_w100").css("opacity", "1");
                    $("#content").css("opacity", "1");
                });

                $(".changePassword").on({
                    click: function (event) {
                        event.preventDefault();
                        $(".ChangePassword").fadeIn();
                        $(".list-ava").slideUp(250);
                        $("#container_w100").css("opacity", "0.5");
                        $("#content").css("opacity", "0.5");
                        event.stopPropagation();
                    }
                })
                $(".myProfile").on({
                    click: function (event) {

                        $(".list-ava").slideUp(250);


                        // LoadCss("/MyProfile/MyProfile.css");

                        // LoadScript("https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js");


                    }
                })
                $(".ChangePassword_footer__forgetPass").on({
                    click: function (event) {

                        event.preventDefault();
                        $(".ChangePassword").fadeOut("fast");
                        $(".ForgetPassword").fadeIn("slow");
                        // $("#container_w100").css("opacity","0.5");
                        // $("#content").css("opacity","0.5");

                    }

                });
                $(".ChangePassword_footer__button").mousemove(function () {
                    $(".ChangePassword_footer__button").css("background-color", "#0064e0");
                });
                $(".ChangePassword_footer__button").mouseleave(function () {
                    $(".ChangePassword_footer__button").css("background-color", "#8fbcf2");
                });
                // $(".ChangePassword_footer__button").onclick(function(event)
                // {
                //     let type = 'success';
                //     let icon = 'fa-solid fa-circle-check';
                //     let title = 'Success Message';
                //     let text = 'You can insert a description for the message here. The text relates to the action that has been performed';
                //     createToast(type, icon, title, text);
                // });
            });
        </script>
        <% } %>
