.FID_header{
    /* width:100%; */
    height:55px;
    /* background-color: red; */
    position:relative;
    margin-top:80px;
    
}
.FID_header a{
    text-decoration: none;
}
.FID_header__icon{
    font-size:40px;
    position: absolute;
    top:15%;
    left:5%;
    color:black;
}
.FID_header__title{
    right:50%;
    top:15%;
    position: absolute;;
    font-size:50px;
}
.FID_body__left--title{
    font-size:35px;
    margin-left:45px;   
    margin-top:5px;
    margin-bottom:20px;
}
.FID_body__left-nutriinfor{
    height:300px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items:flex-start;
    
}
.FID_body__left-nutriinfor--item{
    width: 300px;
    height:70px;
    background-color: white;
    border-radius:35px;
    display:flex;
    align-items: center;
    justify-content:flex-start;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin:0 5px;
    
   
}
.nutriinfor--item__circle{
    width:85px;
    height:85px;
    border-radius: 50%;
    background-color: #d6e68a;
    text-align: center;
    line-height: 85px;
    font-weight: bold;
    overflow-wrap:break-word;
    
}
.nutriinfor--item__text{
    margin-left:50px;
    
}
.numberElement{
    margin-left:70px;
}
.FID_body__right{
    /* width:40%;
    height:40%; */
    /* position:absolute;
    right:0; */
    overflow: hidden;
    margin-right:40px;
    
}
.FID_body__right > img{
    object-fit: cover;
    object-position: center;
    width:100%;
    height:100%;
}
.FID_footer__title{
    font-size:25px;
    margin-left:45px;   
    margin-top:5px;
    margin-bottom:20px;
}
.FID_footer__table{
    border-collapse: collapse;
	width: 100%;
	text-align: center;
}
.FID_footer__table th {
    border: 1px solid black;
    padding: 8px;
}
.FID_footer__table td{
    border: 1px solid black;
    padding: 8px;
}
.FID_footer__table th{
    background-color: #ccc;
}
.FID_footer__table thead tr th{
    font-size:20px;
}
