<div class="container" id="createMenu">
  <div class="CYM_header">
    <a href="/user/MyMenu" class="">
      <i class="fa-solid fa-circle-arrow-left CYM_header__icon"></i>
    </a>
    <h2 class="CYM_header__title">Create Your Menu</h2>
  </div>
  <div class="CYM_body">
    <div class="CYM_body__left">
      <div class="CYM_body__left-top">
        <input type="text" placeholder="Nhập tên thực đơn của bạn" id="CYM_body__left-top--nameMenu">
        <h3 class="CYM_body__left--title">Nutritions</h3>
        <div class="CYM_body__left-nutriinfor">
          <div class="CYM_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Energy</div>
            <span class="nutriinfor--item__text-energy">0 calories</span>
          </div>
          <div class="CYM_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Water</div>
            <span class="nutriinfor--item__text-water">0 ml</span>
          </div>
          <div class="CYM_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Carbs</div>
            <span class="nutriinfor--item__text-carbohydrate">0 gram</span>
          </div>
          <div class="CYM_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Protein</div>
            <span class="nutriinfor--item__text-protein">0 gram</span>
          </div>
          <div class="CYM_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Lipid</div>
            <span class="nutriinfor--item__text-lipid">0 gram</span>
          </div>
          <div class="CYM_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Vitamins</div>
            <span class="nutriinfor--item__text-vitamins"></span>
          </div>
          <div class="CYM_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Minerals</div>
            <span class="nutriinfor--item__text-minerals"></span>
          </div>
        </div>
        <div class="CYM_body__left-bottom">

          <div>
            <table class="CYM_body__left-bottom--table">
              <thead>
                <tr>
                  <th>Name of food</th>
                  <th>Count</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="Breakfast">

              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
    <div class="CYM_body__right">
      <div class="CYM_body__right-top">
        <!-- thanh search -->
        <div class="divSearch">

          <div class="input-group create_search-input" style="width: 500px;">
            <input type="search" class="form-control rounded search_box" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" />
          </div>
        </div>

      </div>
      <div class="CYM_body__right-bottom">
        <ul class="create_result-container">

        </ul>
        <!-- 4 picture -->
        <div class="btn-toolbar justify-content-md-center result_page create_page-btn" role="toolbar"
          aria-label="Toolbar with button groups" style="padding: 50px 0">
        </div>
      </div>
    </div>
  </div>
  <div class="CYM_footer" style="padding-top: 110px;">
    <!-- <button class="CYM_footer__btn btnDelete" onclick="window.location.href='/begin/myMenu'">
      Cancel
    </button> -->
    <button class="CYM_footer__btn bntSave">
      Save
    </button>
  </div>
</div>


<link rel="stylesheet" href="../assets/css/Create Your Menu.css">
<script src="../assets/js/getSearchCreateMenu.js"></script>

<script>

  $(document).ready(function () {
    $(".bntSave").click(function () {
      let menuName = $("#CYM_body__left-top--nameMenu").val();
      var rows = $('#Breakfast tr');
      var foodObjects = [];
      rows.each(function () {
        var row = $(this);
        var name = row.find('td:eq(0)').text();
        var countElement = row.find('.count');
        var count = parseInt(countElement.text());
        var foodId = parseInt(countElement.data('foodid'));
        var foodObject = {
          foodid: foodId,
          amount: count
        };
        foodObjects.push(foodObject);
      });
      let creator = "<%= userInfo.name%>";
      let menuImage = "../assets/images/menu_img/default-menu.jpg";

      if (menuName === "") {
        alert("Please, fill your menu name");
      }
      else {
        try {
          if (foodObjects.length == 0) {
            alert("Unable to create empty menu!");
          }
          else {
            $.ajax({
              url: '/user/menus/create',
              type: 'POST',
              data: {
                menuName: menuName,
                creator: creator,
                foodsList: foodObjects,
                menuImage: menuImage,
              },
              success: function (response) {
                alert(response.message);
                window.location.href = "/user/myMenu";
              },
              error: function (error) {
                console.error(error);
              }
            });
          }


        } catch (error) {
          console.error(error);
        }
      }





    })
  })
</script>