<div class="container">
    <div class="MyProfile">
        <div class="profile-header">
            <h1 class="profile-header__label">Profile</h1>
            <a href="" class="Profile-header__avatar">
                <div class="avatar-img">
                    <img src="<%= userInfo.avatar %>" alt="" id="avatar_img">
                </div>
                <div class="divAddAvatar" id="changeAvaImg">
                    <a href="#" class="iconAddAvatar">
                        <i class="fa-solid fa-camera"></i>
                    </a>
                </div>
            </a>
            <h4 class="profile-header__name">
                <%= userInfo.name %>
            </h4>
        </div>
        <div class="profile-info">
            <div class="profile-info__item">
                <span class="profile-info__item--measurement height-measurement">... cm</span>
                <span class="profile-info__item--text">Height</span>
            </div>
            <div class="profile-info__item">
                <span class="profile-info__item--measurement weight-measurement">... Kg</span>
                <span class="profile-info__item--text">Weight</span>
            </div>
            <div class="profile-info__item">
                <span class="profile-info__item--measurement age-measurement">
                    <script>
                        var birthDate = new Date("<%= userInfo.dateofbirth %>");
                        var ageDate = new Date(Date.now() - birthDate.getTime());
                        var calculatedAge = Math.abs(ageDate.getUTCFullYear() - 1970);
                        document.write(calculatedAge);
                    </script>
                </span>
                <span class="profile-info__item--text">Age</span>
            </div>
        </div>

        <div class="profile-notification">
            <form action="/user/updateBMI" id="updateBMIForm" method="post">
                <div class="height_container">
                    <label for="height">Height</label>
                    <input type="text" name="height" id="update_height">
                </div>
                <div class="weight_container">
                    <label for="weight">Weight</label>
                    <input type="text" name="weight" id="update_weight">
                </div>
                <button type="submit" class="btn btn-secondary" id="toggle-btn">Update</button>
            </form>
        </div>
        <!-- <button id="toggle-btn" hidden class="toggle-btn"></button> -->


    </div>
    <script>
        // Get the form and input elements
        var form = document.getElementById('updateBMIForm');
        var heightInput = document.getElementById('update_height');
        var weightInput = document.getElementById('update_weight');
        var updateButton = document.getElementById('toggle-btn');


        // Add an event listener to the form's submit event
        form.addEventListener('submit', function (event) {
            // Check if height and weight inputs are numeric
            if (!isNumeric(heightInput.value) || !isNumeric(weightInput.value)) {
                event.preventDefault(); // Prevent the form from being submitted
                // Disable the update button
                updateButton.disabled = true;
                updateButton.style.cursor = "default";
                alert('Height and weight must be numeric values.');
            }
        });

        // Function to check if a value is numeric
        function isNumeric(value) {
            return value !== null && value !== "" && !isNaN(parseFloat(value)) && isFinite(value);
        }

        // Add event listeners to the height and weight inputs
        heightInput.addEventListener('input', toggleButtonState);
        weightInput.addEventListener('input', toggleButtonState);

        // Function to toggle the state of the update button
        function toggleButtonState() {
            if (isNumeric(heightInput.value) && isNumeric(weightInput.value)) {
                updateButton.disabled = false;
                updateButton.style.cursor = "pointer";
                updateButton.style.backgroundColor = "#6c757d";
            } else {
                updateButton.disabled = true;
                updateButton.style.cursor = "default";
                updateButton.style.backgroundColor = "#6c757d";
            }
        }


    </script>

    <div class="container2">

        <canvas id="canvas"></canvas>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
<script src="../assets/js/MyProfile.js"></script>



<script src="../assets/js/getProfileData.js"></script>
<link rel="stylesheet" href="../assets/css/MyProfile.css">
<link rel="stylesheet" href="../assets/css/UploadImage.css">

<script>

    $("#changeAvaImg").on("click", function (e) {
        var fileDialog = $('<input type="file" name="avatarImage" accept=".png,.jpg,.jpeg">');
        fileDialog.click();
        fileDialog.on("change", onFileSelected);
        return false;
    });

    var onFileSelected = async function (e) {

        var formData = new FormData();
        formData.append('avatarImage', $(this)[0].files[0]);
        await $.ajax({
            url: `/user/upload`,
            type: "PUT", // <- Change here
            data: formData,
            contentType: false,
            processData: false,
            success: (response) => {
                console.log(response);
                if (response.success) {
                    document.getElementById("avatar_img").src = response.data.link;
                }

                window.location = "";
            },
            error: function (err) {
                console.log(err);
            }
        });
    };

</script>