<div class="container">
    <div class="MyProfile">
        <div class="profile-header">
            <h1 class="profile-header__label">Profile</h1>
            <a href="" class="Profile-header__avatar">
                <div class="avatar-img">
                    <img src="<%= user.avatarImg %>" alt="">
                </div>
                <div class="divAddAvatar" id="changeFoodImg">
                    <a href="" class="iconAddAvatar">
                        <i class="fa-solid fa-camera"></i>
                    </a>
                </div>
            </a>
            <h4 class="profile-header__name">
                <%= user.username %>
            </h4>
        </div>
        <div class="profile-info">
            <div class="profile-info__item">
                <span class="profile-info__item--measurement height-measurement">... cm</span>
                <span class="profile-info__item--text">Height</span>
            </div>
            <div class="profile-info__item">
                <span class="profile-info__item--measurement weight-measurement">... Kg</span>
                <span class="profile-info__item--text">Weight</span>
            </div>
            <div class="profile-info__item">
                <span class="profile-info__item--measurement age-measurement">
                    <%= userInfo.dateofbirth %>
                </span>
                <span class="profile-info__item--text">Age</span>
            </div>
        </div>

        <div class="profile-notification">
            <span class="profile-notification__title">Notification</span>
            <div class="profile-notification__body">
                <i class="fa-regular fa-bell profile-notifcation__icon"></i>
                <span class="profile-notifcation__text">Pop-up Notification</span>
                <button id="toggle-btn" class="toggle-btn"></button>
            </div>

        </div>
        <div class="profile-updateHeightAndWeight">
            <a href=""> Update height and weight</a>
        </div>
        <!-- <div class="container">
            <canvas id="canvas"></canvas>
        </div> -->

    </div>


    <div class="container2">

        <canvas id="canvas"></canvas>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
<script src="../assets/js/MyProfile.js"></script>
<script>
    $(document).ready(function () {
        $(".iconAddAvatar").click(function (event) {
            event.preventDefault();
            $(".UploadImg").show();
            $(".MyProfile").css("opacity", "0.5");
            $(".container2").css("opacity", "0.5");
        })
    })
</script>

<script src="../assets/js/getProfileData.js"></script>
<link rel="stylesheet" href="../assets/css/MyProfile.css">
<link rel="stylesheet" href="../assets/css/UploadImage.css">

<!-- <script>

    $("#changeFoodImg").on("click", function (e) {
        var fileDialog = $('<input type="file" name="foodImage" accept=".png,.jpg,.jpeg">');
        fileDialog.click();
        fileDialog.on("change", onFileSelected);
        return false;
    });

    var onFileSelected = async function (e) {

        var formData = new FormData();
        formData.append('foodImage', $(this)[0].files[0]);
        var notice = document.getElementById("foodImageNotice");
        notice.innerText = "Đang tải ảnh, vui lòng đợi xíu nhaaa!";
        notice.style.color = "black";
        await $.ajax({
            url: `/AdminCP/upload`,
            type: "POST", // <- Change here
            data: formData,
            contentType: false,
            processData: false,
            success: (response) => {
                notice.innerText = response.notice;
                notice.style.color = "red";
                if (response.success) {
                    document.getElementById("foodImage").src = response.data.link;
                    notice.style.color = "green";
                }
            },
            error: function (err) {
                notice.innerText = "Xảy ra lỗi khi thực hiện upload ảnh!";
                notice.style.color = "red";
                console.log(err);
            }
        });
    };

    $('#submit').on('click', delay(() => {
        const foodId = "<%= foodId %>";
        // get params from form
        const txtFoodName = $("#txtFoodName").val();
        if (txtFoodName.length < 3) {
            alert("Vui lòng nhập tên thực phẩm");
            return;
        }

        const txtEnergy = $("#txtEnergy").val();
        const txtCarbohydrate = $("#txtCarbohydrate").val();
        const txtLipid = $("#txtLipid").val();
        const txtProtein = $("#txtProtein").val();
        const txtVitamins = $("#txtVitamins").val();
        const txtMinerals = $("#txtMinerals").val();
        const foodImage = document.getElementById("foodImage").src;

        const data = {
            "foodName": txtFoodName,
            "foodImage": foodImage,
            "nutrition": {
                "energy": txtEnergy,
                "carbohydrate": txtCarbohydrate,
                "lipid": txtLipid,
                "protein": txtProtein,
                "vitamins": txtVitamins,
                "minerals": txtMinerals,
            }
        }

        if (foodId === "") {
            $.post(`/AdminCP/Foods/add`, data, (response, status) => {
                alert(response.message);
                if (response.success) {
                    window.location = "/AdminCP/Foods";
                }
            }).fail((err) => {
                alert(err);
            });
        } else {
            $.ajax({
                url: `/AdminCP/Foods/update/${foodId}`,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(data), // access in body
            }).done(function (response) {
                alert(response.notice);
                window.location = "/AdminCP/Foods";
            }).fail(function (err) {
                alert(err);
            })
        }
    }, 3));

</script> -->