<div class="container">
    <div class="MyProfile">
        <div class="profile-header">
            <h1 class="profile-header__label">Profile</h1>
            <a href="" class="Profile-header__avatar">
                <div class="avatar-img">
                    <img src="<%= user.avatarImg %>" alt="">
                </div>
                <div class="divAddAvatar">
                    <a href="" class="iconAddAvatar">
                        <i class="fa-solid fa-camera"></i>
                    </a>
                </div>
            </a>
            <h3 class="profile-header__name">Nguyen Van A</h3>
        </div>
        <div class="profile-info">
            <div class="profile-info__item">
                <span class="profile-info__item--measurement">172cm</span>
                <span class="profile-info__item--text">Height</span>
            </div>
            <div class="profile-info__item">
                <span class="profile-info__item--measurement">67Kg</span>
                <span class="profile-info__item--text">Weight</span>
            </div>
            <div class="profile-info__item">
                <span class="profile-info__item--measurement">20</span>
                <span class="profile-info__item--text">Age</span>
            </div>
        </div>

        <div class="profile-notification">
            <span class="profile-notification__title">Notification</span>
            <div class="profile-notification__body">
                <i class="fa-regular fa-bell profile-notifcation__icon"></i>
                <span class="profile-notifcation__text">Pop-up Notification</span>
                <button id="toggle-btn" class="toggle-btn"></button>
            </div>

        </div>
        <!-- <div class="container">
                
                <canvas id="canvas"></canvas>
            </div> -->

    </div>


    <div class="container2">

        <canvas id="canvas"></canvas>
    </div>

    <form enctype="multipart/form-data">
        <div class="UploadImg">
            <div class="UploadImgHeader">
                <h2 class="UploadImg__title">Cập nhật ảnh đại diện</h2>
                <a href=""><i class="fa-solid fa-xmark UploadImg__xmark"></i></a>
            </div>
            <div class="uploadImgBody">
                <input type="file" name="image" id="imageAvatar-upload">
                <button type="button" class="btnUploadImg" onclick="uploadImage()">Cập nhật</button>
            </div>
        </div>
    </form>

    <script>
        async function uploadImage() {
            const fileInput = document.getElementById("imageAvatar-upload");
            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append("imageAvatar-upload", file);

            var url = `http://localhost:3001/api/v1/profile/upload-avatar`;

            await $.ajax({
                url: url,
                type: "PUT",
                avatar: formData,
                success: function (data) {
                    console.log(data);
                    if (data.data) {
                        console.log("ok");
                    }
                    return data.data;
                }
            });

        }
    </script>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
<script src="../assets/js/MyProfile.js"></script>
<script>
    $(document).ready(function () {
        $(".iconAddAvatar").click(function (event) {
            event.preventDefault();
            $(".UploadImg").show();
            $(".MyProfile").css("opacity", "0.5");
            $(".container2").css("opacity", "0.5");
        })
    })
</script>

<script src="../assets/js/getProfileData.js"></script>
<link rel="stylesheet" href="../assets/css/MyProfile.css">
<link rel="stylesheet" href="../assets/css/UploadImage.css">