<div class="container">
    <div class="MyProfile">
        <div class="profile-header">
            <h1 class="profile-header__label">Profile</h1>
            <a href="" class="Profile-header__avatar">
                <div class="avatar-img">
                    <img src="<%= user.avatarImg %>" alt="" id="avatar_img">
                </div>
                <div class="divAddAvatar" id="changeAvaImg">
                    <a href="#" class="iconAddAvatar">
                        <i class="fa-solid fa-camera"></i>
                    </a>
                </div>
            </a>
            <h4 class="profile-header__name">
                <%= user.username %>
            </h4>
        </div>
        <div class="profile-info">
            <div class="profile-info__item">
                <span class="profile-info__item--measurement height-measurement">... cm</span>
                <span class="profile-info__item--text">Height</span>
            </div>
            <div class="profile-info__item">
                <span class="profile-info__item--measurement weight-measurement">... Kg</span>
                <span class="profile-info__item--text">Weight</span>
            </div>
            <div class="profile-info__item">
                <span class="profile-info__item--measurement age-measurement">
                    <%= userInfo.dateofbirth %>
                </span>
                <span class="profile-info__item--text">Age</span>
            </div>
        </div>

        <div class="profile-notification">
            <span class="profile-notification__title">Notification</span>
            <div class="profile-notification__body">
                <i class="fa-regular fa-bell profile-notifcation__icon"></i>
                <span class="profile-notifcation__text">Pop-up Notification</span>
                <button id="toggle-btn" class="toggle-btn"></button>
            </div>

        </div>
        <div class="profile-updateHeightAndWeight">
            <a href=""> Update height and weight</a>
        </div>
        <!-- <div class="container">
            <canvas id="canvas"></canvas>
        </div> -->

    </div>


    <div class="container2">

        <canvas id="canvas"></canvas>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
<script src="../assets/js/MyProfile.js"></script>


<script src="../assets/js/getProfileData.js"></script>
<link rel="stylesheet" href="../assets/css/MyProfile.css">
<link rel="stylesheet" href="../assets/css/UploadImage.css">

<script>

    $("#changeAvaImg").on("click", function (e) {
        var fileDialog = $('<input type="file" name="avaImage" accept=".png,.jpg,.jpeg">');
        fileDialog.click();
        fileDialog.on("change", onFileSelected);
        return false;
    });

    var onFileSelected = async function (e) {

        var formData = new FormData();
        formData.append('avaImage', $(this)[0].files[0]);
        await $.ajax({
            url: `/user/profile/upload`,
            type: "PUT", // <- Change here
            data: formData,
            contentType: false,
            processData: false,
            success: (response) => {
                if (response.success) {
                    document.getElementById("avatar_img").src = response.data.link;
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    };

</script>